body{
  background-image:url(../resources/media/img/src=http___n.sinaimg.cn_sinacn20113_480_w1600h1280_20190713_a383-hzuhxyn9073690.jpg&refer=http___n.sinaimg\ \(1\).jfif);
  background-size: 100%;
  background-attachment:scroll;
}

ul.nav{
  list-style-type: none;
  background-color: #e6f9fa;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 2px;
  text-align:start;
  position:absolute; 
  top:0; 
  left:0;
  width:100%; 
  height:40px; 
}

li.nav{
  margin: 0;
  padding: 0;
  float: left;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.6em;
}

li.nav a {
  display: block;
  padding: 0px;
  text-align: center;
  margin:10px;
  width: 100%;
  margin-right: 100px;
  margin-left: 120px;
  border-width: 2px;
}

li.nav a:hover{
  transform: scale(1.5);
  transition: 1.2s;
}

h2{
  font-style:normal;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}

p.homework{
  font-style: italic;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.875em;
}

p.describe{
  font-family:'Courier New', Courier, monospace;
  font-size: 1.875em;
}

p.words{
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p.words a:visited{
  color: black;
}

p.links{
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p.links a:visited{
  color: black;
}

p.article{
  font-family:STXinwei;
  font-size: 1.2em;
}

a{
  text-decoration: none;
}

.backtotop{
  width: 50px;
  height: 50px;
  position:sticky;
  float: right;
  right: 50px;
  bottom: 200px;
}

.writer{
  font-size: 1.8em;
  text-align: center;
}

.footer{
  font-size: 2.5em;
  text-align: center;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}